.env
.env.*
!.env.example
!.env.ngrok.example
**/vendor/
**/node_modules/
**/.env
**/.env.*
!**/.env.example
server/public/build/
server/public/hot
server/storage/*.key
server/storage/logs/*
server/storage/framework/cache/data/*
server/storage/framework/sessions/*
server/storage/framework/views/*
server/bootstrap/cache/*.php
server/database/*.sqlite*
**/.phpunit.result.cache
**/.phpunit.cache/
*.zip
test-results/
playwright-report/
!.env.ngrok.example
**/storage/app/vapid.json
!server/storage/framework/cache/data/.gitignore
!server/storage/framework/sessions/.gitignore
!server/storage/framework/views/.gitignore
!server/storage/logs/.gitignore
